#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a opnform instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman opnform.service
Requires=redis.service postgresql-app.service opnform-app.service opnform-ui.service nginx.service
Before=redis.service postgresql-app.service opnform-app.service opnform-ui.service nginx.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/opnform.pid %t/opnform.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/opnform.pid \
    --pod-id-file %t/opnform.pod-id \
    --name opnform \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/opnform.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/opnform.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/opnform.pod-id
PIDFile=%t/opnform.pid
Type=forking

[Install]
WantedBy=default.target
