#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  opnform-ui.service
BindsTo=opnform.service
After=opnform.service redis.service postgresql-app.service opnform-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/opnform-ui.pid %t/opnform-ui.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/opnform-ui.pid \
    --cidfile %t/opnform-ui.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/opnform.pod-id --replace -d --name  opnform-ui \
    --env-file=%S/state/opnform-ui.env \
    ${OPNFORM_CLIENT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/opnform-ui.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP opnform-ui
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/opnform-ui.ctr-id
PIDFile=%t/opnform-ui.pid
Type=forking

[Install]
WantedBy=default.target
